/${HYBRIS_DATA_DIR}
/log
/temp
/roles
/.idea
/data

/config/*
!/config/localextensions.xml

/bin/modules/
/bin/platform/

/bin/custom/*/lib/
/bin/custom/*/classes/
/bin/custom/*/gensrc/
/bin/custom/*/.settings/


/bin/custom/*/web/webroot/WEB-INF/lib/
rebel.xml
*.build.number
*.xsd
*.xmi
*.classpath
*.project
*.springBeans
*launch
dummy.txt
sap-hybris-platform.png
platformhome.properties
